@charset "UTF-8";
.container {
	background-color: #FFFFFF;
	width: 90%;
	margin-left: auto;
	margin-right: auto;
	border-bottom-width: 0px;
	padding-left: 0px;
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
}
.row {
	width: 100
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
	display: inline-block
}



.container .columns h5 {
	text-align: center;
	color: #505050;
}
.primary_header {
	width: 100%;
	background-color: #52bad5;
	padding-top: 10px;
	padding-bottom: 10px;
	clear: left;
	border-bottom: 2px solid #2C9AB7;
}
.secondary_header {
	width: 100%;
	padding-top: 20px;
	padding-bottom: 20px;
	background-color: #B3B3B3;
	clear: left;
}
.container .secondary_header ul {
	margin-top: 0%;
	margin-right: auto;
	margin-bottom: 0px;
	margin-left: auto;
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 15px;
	padding-left: 0px;
	width: 100%;
}
.secondary_header ul li {
	list-style: none;
	float: left;
	margin-right: auto;
	margin-top: 0px;
	font-family: "Source Sans Pro";
	font-weight: normal;
	color: #FFFFFF;
	margin-left: auto;
	text-align: center;
	width: 16%;
}
.secondary_header ul li:hover {
	color: #717070;
	cursor: pointer;
}
.left_article {
	background-color: #FFFFFF;
	width: 100%;
	float: center;
	font-family: "Source Sans Pro";
	color: #343434;
	text-align: center;
	padding-bottom: 50px;
}
.noDisplay {
	display: none;
}
.container .left_article h3 {
	padding-left: 5%;
	padding-right: 5%;
	margin-top: 5%;
	color: #505050;
	font-weight: bold;
	text-transform: uppercase;
	font-size: 20px;
}
.container .left_article p.main_content_text {
	padding-left: 10%;
	padding-right: 10%;
	text-align: center;
	line-height: 24px;
	margin-top: 30px;
	margin-bottom: 10px;
	color: #686868;
}

.container .left_article ol {
	padding-left: 15%;
	padding-right: 5%;
	text-align: left;
	line-height: 24px;
	margin-top: 10px;
	margin-bottom: 10px;
	color: #686868;
}

.container .left_article ul {
	padding-left: 15%;
	padding-right: 5%;
	text-align: left;
	line-height: 24px;
	margin-top: 10px;
	margin-bottom: 10px;
	color: #686868;
}
.container .left_article p.hl7_text {
	padding-left: 10%;
	padding-right: 10%;
	text-align: left;
	line-height: 24px;
	margin-top: 20px;
	margin-bottom: 20px;
	color: #686868;
}

.container .left_article p.ICD10 {
	padding-left: 10%;
	padding-right: 10%;
	text-align: left;
	line-height: 24px;
	margin-top: 20px;
	margin-bottom: 20px;
	color: #686868;
}



.container .login_table {
	margin-left: auto;
	margin-right: auto;

}

.container .left_article table.event_table{
  width: 100%;
  margin-left:auto; 
  margin-right:auto; 
  border-style: none;
 
  text-align:center;
  margin-top: 10px;
  margin-bottom: 10px;
  color: #686868;
}

.container .left_article table.event_table th {
  background-color: #505050;
  color: white;
  vertical-align: center;
 
}

.container .left_article table.event_table td {
  border: 1px solid #505050;
  vertical-align: center;
 
}


.container .left_article table.performance_table{
  width: 20%;
  margin-left:auto; 
  margin-right:auto;
  border-style: none;
  text-align:center;
  margin-top: 20px;
  margin-bottom: 20px;
  color: #686868;
}

.container .left_article table.performance_table th {
  margin-top: 20px;
  margin-bottom: 20px;
  text-align:center;
 
}

.container .left_article table.performance_table td {
  margin-top: 20px;
  margin-bottom: 20px;
  border: 1px solid #505050;
  text-align:center;
 
}

.container .left_article table.form_table{
  width: 40%;
  border-style: none;
  text-align:left;
  margin-top: 20px;
  margin-bottom: 20px;
  color: #686868;
}

.container .left_article table.form_table th {
  margin-top: 20px;
  margin-bottom: 20px;
  text-align:left;
 
}

.container .left_article table.form_table td {
  margin-top: 20px;
  margin-bottom: 20px;
  border: none;
  text-align:left;
 
}

.container .left_article table.form_center{
  width: 40%;
  margin-left:auto; 
  margin-right:auto;
  border-style: none;
  text-align:left;
  margin-top: 20px;
  margin-bottom: 20px;
  color: #686868;
}

.container .left_article table.form_center th {
  margin-top: 20px;
  margin-bottom: 20px;
  text-align:left;
 
}

.container .left_article table.form_center td {
  margin-top: 20px;
  margin-bottom: 20px;
  border: none;
  text-align:left;
 
}

.container .left_article table.edit_round_center{
  width: 60%;
  margin-left:auto; 
  margin-right:auto;
  border-style: none;
  text-align:left;
  margin-top: 40px;
  margin-bottom: 20px;
  color: #686868;
}

.container .left_article table.edit_round_center th {
  margin-top: 20px;
  margin-bottom: 20px;
  text-align:left;
 
}

.container .left_article table.edit_round_center td {
  margin-top: 20px;
  margin-bottom: 20px;
  border: none;
  text-align:left;
 
}

.container .left_article table.profile_center{
  width: 30%;
  margin-left:auto; 
  margin-right:auto;
  border-style: none;
  margin-top: 20px;
  margin-bottom: 20px;
  color: #686868;
  align-content: center;
}

.container .left_article table.profile_center th {
  margin-top: 20px;
  margin-bottom: 20px;
  text-align:left;
  vertical-align: center;
}

.container .left_article table.profile_cente td {
  margin-top: 20px;
  margin-bottom: 20px;
  border: none;
  text-align:left;
  vertical-align: center;
}


.container .left_article h4 {
	padding-left: 5%;
	padding-right: 5%;
	text-align: center;
	margin-top: 5%;
	color: #505050;
	font-weight: bold;
	text-transform: uppercase;
}
.container .left_article p.event_details {
	padding-left: 5%;
	padding-right: 5%;
	text-align: center;
	line-height: 24px;
	margin-top: 10px;
	margin-bottom: 10px;
	color: #686868;
}


.footer {
	background-color: #717070;
}

.title {
	font-weight: bold;
	font-style: normal;
	font-family: "Source Sans Pro";
	text-align: center;
	color: #FFFFFF;
	letter-spacing: 2px;
}
.placeholder {
	/* [disabled]max-width: 400px;
*/
	/* [disabled]max-height: 200px;
*/
	width: 100%;
	padding-top: 30px;
	/* [disabled]padding-left: 19px;
*/
	padding-bottom: 30px;
	height: 100%;
}

.column_title {
	padding-top: 25px;
	padding-bottom: 25px;
}
.copyright {
	text-align: center;
	background-color: #717070;
	color: #FFFFFF;
	text-transform: uppercase;
	font-weight: lighter;
	letter-spacing: 2px;
	border-top-width: 2px;
	font-family: "Source Sans Pro";
}
body {
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
}

@media (max-width: 320px) {
.secondary_header ul li {
	float: none;
	margin-top: 28px;
	margin-left: 0px;
	width: 100%;
}
	
.container .secondary_header ul {
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
	height: auto;
	width: 100%;
	text-align: center;
}
.secondary_header {
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	padding-top: 1px;
	padding-bottom: 40px;
}
.left_article {
	width: 100%;
	height: auto;
}
.right_article {
	width: 100%;
	height: auto;
}
.placeholder {
	width: 100%;
	margin-top: 22PX;
	margin-right: 0px;
	margin-bottom: 22PX;
	margin-left: 0px;
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
	max-width: 400px;
	max-height: 200px;
	height: auto;
}
.columns {
	width: 100%;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	padding-top: 0PX;
	padding-right: 0PX;
	padding-bottom: 0PX;
	padding-left: 0PX;
}
.columns p.column_title {
	padding-left: 10px;
	padding-right: 10px;
}
	
.columns p.column_text {
	padding-left: 10px;
	padding-right: 10px;
}
.column_half.left_half {
	width: 100%;
}
.column_half.right_half {
	width: 100%;
}
.copyright {
	padding-top: 25px;
	padding-bottom: 0px;
	margin-bottom: 0px;
}

.social .social_icon img {
	width: 80%;
}
.container .secondary_header {
}
}

@media (min-width: 321px) and (max-width: 768px) {
.secondary_header ul li {
	float: none;
	margin-top: 28px;
	margin-left: 0px;
	width: 100%;
}
.container .secondary_header ul {
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
	height: auto;
	width: 100%;
	text-align: center;
}
.secondary_header {
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	padding-top: 1px;
	padding-bottom: 40px;
}
.left_article {
	width: 100%;
	height: auto;
}
.right_article {
	width: 100%;
	height: auto;
	padding-bottom: 25px;
}
.placeholder {
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
	width: 100%;
	max-width: 100%;
	height: auto;
	max-height: 100%;
}
.columns {
	width: 100%;
	margin-top: 6px;
	margin-right: 0px;
	margin-bottom: 6px;
	margin-left: 0px;
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
}
.columns p {
	padding-left: 14px;
	padding-right: 14px;
}
.column_half.left_half {
	width: 100%;
}
.column_half.right_half {
	width: 100%;
}
}

@media (min-width: 769px) and (max-width: 1000px) {
.secondary_header {
	overflow: auto;
	padding-top: 30px;
	padding-bottom: 30px;
}
.secondary_header ul li {
	margin-top: 10px;
	margin-right: 7%;
	margin-bottom: 10px;
	margin-left: 7%;
}
.left_article {
	height: auto;
}

.placeholder {
	width: 100%;
	margin-left: 0px;
	margin-right: 0px;
	padding-left: 0px;
	padding-right: 0px;
}
.columns {
	width: 50%;
	float: left;
	padding-left: 0px;
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
}
.container .columns p {
	padding-left: 25px;
	padding-right: 25px;
}
}

@media (min-width: 1001px) {
}

.thumbnail {
	width: 100px;
	border-radius: 200px;
	height: 100px;
	margin-left: auto;
}
.thumbnail_align {
	text-align: center;
}





